@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.font-outfit {
  font-family: Outfit, sans-serif;
}

.shadow-3xl {
  box-shadow: 0 35px 60px -12px rgba(0, 0, 0, 0.25);
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 648px) {
  a.active {
    background-color: black;
    color: white;
  }
}
@keyframes float
 {
     0% {    transform: translateY(0px);
  }
  50% {    transform: translateY(-10px);
 }
 100% {    transform: translateY(0px);

  }
}
  .animate-float
   {  animation: float 3s ease-in-out infinite;
}

.logo {
  @apply w-20 h-20;
}
.input-field {
  @apply border border-gray-300 rounded-md py-2 px-4 w-full;
}

.payment-option {
  @apply flex items-center gap-4 border p-3 cursor-pointer;
}

.selection-dot {
  @apply min-w-[14px] h-[14px] border rounded-full;
}

.place-order-button {
  @apply bg-black text-white px-8 py-3 text-sm rounded-md;
}
