@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 648px) {
  a.active {
    background-color: black;
    color: white;
  }
}
@keyframes float
 {
     0% {    transform: translateY(0px);
  }
  50% {    transform: translateY(-10px);
 }
 100% {    transform: translateY(0px);

  }
}
  .animate-float
   {  animation: float 3s ease-in-out infinite;
}
